In [4]:
### This notebook pulls the kinsa data using the isolat getters. Then, transforms it to a format and strucuture to 
### join it with other model outputs.
### the dateformat matched the reichlab data input format
### the county strings are formatted to remove the word "county" from the value



import data.kinsa
import pandas as pd


df3 = kinsa.get_kinsa_data()

df3.head(15)

ModuleNotFoundError: No module named 'states_dict'

In [45]:
## update date format
df3['date'] = pd.to_datetime(df3['date'], format='%m/%d/%y')

##strip out 'county'
df3['region_name'] = df3['region_name'].map(lambda x: x.rstrip('County'))

df3.head(15)

## sort by date
df3 = df3.sort_values(by=['date'],ascending=False)
df3.tail(15)

TypeError: 'module' object is not subscriptable

In [41]:
## select the columns to extract
kinsa_final = df3[['region_name', 'state', 'observed_ili','date','forecast_expected']]

kinsa_final.tail(15)

    region_name       state  observed_ili       date  forecast_expected
35    Garfield     Colorado      5.045691 2020-02-16                NaN
52    Hinsdale     Colorado      4.888474 2020-02-16                NaN
53    Gunnison     Colorado      4.911652 2020-02-16                NaN
22  Rio Arriba   New Mexico      4.662073 2020-02-16                NaN
62  Kit Carson     Colorado      4.888086 2020-02-16                NaN
29     Socorro   New Mexico      5.182602 2020-02-16                NaN
28      Sierra   New Mexico      4.749595 2020-02-16                NaN
27    Santa Fe   New Mexico      4.837456 2020-02-16                NaN
26  San Miguel   New Mexico      5.142702 2020-02-16                NaN
25    San Juan   New Mexico      5.095841 2020-02-16                NaN
24    Sandoval   New Mexico      5.238033 2020-02-16                NaN
23   Roosevelt   New Mexico      5.547965 2020-02-16                NaN
63       Kiowa     Colorado      4.623863 2020-02-16                NaN
55      Gilpin     Colorado      4.558426 2020-02-16                NaN
0      Autauga      Alabama      5.288498 2020-02-16                NaN

In [42]:
print('Total rows:' + str(len(df3.index)))

Total rows:307791

In [44]:
## export to csv
kinsa_final.to_csv('kinsa_export.csv')