In [32]:
### This notebook pulls the kinsa data using the isolat getters. Then, transforms it to a format and strucuture to 
### join it with other model outputs.
### the dateformat matched the reichlab data input format
### the county strings are formatted to remove the word "county" from the value



import kinsa
import pandas as pd


df3 = kinsa.get_kinsa_data()

df3.head(15)

Could not download data from url https://static.kinsahealth.com/AK_data.json
Could not download data from url https://static.kinsahealth.com/HI_data.json
     region_id        region_name region_type    state      date  doy  \
0        01001     Autauga County      county  Alabama  02/16/20   47
1        01107     Pickens County      county  Alabama  02/16/20   47
2        01105       Perry County      county  Alabama  02/16/20   47
3        01103      Morgan County      county  Alabama  02/16/20   47
4        01101  Montgomery County      county  Alabama  02/16/20   47
...        ...                ...         ...      ...       ...  ...
2272     56035    Sublette County      county  Wyoming  05/24/20  145
2273     56039       Teton County      county  Wyoming  05/24/20  145
2274     56027    Niobrara County      county  Wyoming  05/24/20  145
2275     56015      Goshen County      county  Wyoming  05/24/20  145
2276     56009    Converse County      county  Wyoming  05/24/20  145

      observed_ili  atypical_ili  atypical_ili_delta  anomaly_fevers  \
0         5.288498           NaN                 0.0             0.0
1         5.715619           NaN                 NaN             NaN
2         5.372820           NaN                 NaN             NaN
3         4.682343           NaN                 0.0             0.0
4         4.781838           NaN                 0.0             0.0
...            ...           ...                 ...             ...
2272           NaN           NaN                 NaN             NaN
2273           NaN           NaN                 NaN             NaN
2274           NaN           NaN                 NaN             NaN
2275           NaN           NaN                 NaN             NaN
2276           NaN           NaN                 NaN             NaN

      forecast_expected  forecast_lower  forecast_upper
0                   NaN             NaN             NaN
1                   NaN             NaN             NaN
2                   NaN             NaN             NaN
3                   NaN             NaN             NaN
4                   NaN             NaN             NaN
...                 ...             ...             ...
2272           0.000594             0.0        0.837397
2273           0.000642             0.0        0.846454
2274           0.000495             0.0        0.786561
2275           0.000571             0.0        0.800271
2276           0.000555             0.0        0.780260

[307791 rows x 13 columns]

,region_id,region_name,region_type,state,date,doy,observed_ili,atypical_ili,atypical_ili_delta,anomaly_fevers,forecast_expected,forecast_lower,forecast_upper
0,01001,Autauga County,county,Alabama,02/16/20,47,5.288498,NaN,0.0,0.0,NaN,NaN,NaN
1,01107,Pickens County,county,Alabama,02/16/20,47,5.715619,NaN,NaN,NaN,NaN,NaN,NaN
2,01105,Perry County,county,Alabama,02/16/20,47,5.372820,NaN,NaN,NaN,NaN,NaN,NaN
3,01103,Morgan County,county,Alabama,02/16/20,47,4.682343,NaN,0.0,0.0,NaN,NaN,NaN
4,01101,Montgomery County,county,Alabama,02/16/20,47,4.781838,NaN,0.0,0.0,NaN,NaN,NaN
5,01099,Monroe County,county,Alabama,02/16/20,47,5.095263,NaN,NaN,NaN,NaN,NaN,NaN
6,01097,Mobile County,county,Alabama,02/16/20,47,5.222775,NaN,0.0,0.0,NaN,NaN,NaN
7,01109,Pike County,county,Alabama,02/16/20,47,4.685974,NaN,NaN,NaN,NaN,NaN,NaN
8,01123,Tallapoosa County,county,Alabama,02/16/20,47,4.897657,NaN,NaN,NaN,NaN,NaN,NaN
9,01121,Talladega County,county,Alabama,02/16/20,47,5.001977,NaN,0.0,0.0,NaN,NaN,NaN
10,01119,Sumter County,county,Alabama,02/16/20,47,5.751619,NaN,NaN,NaN,NaN,NaN,NaN
11,01117,Shelby County,county,Alabama,02/16/20,47,4.984671,NaN,0.0,0.0,NaN,NaN,NaN
12,01115,St. Clair County,county,Alabama,02/16/20,47,4.808488,NaN,0.0,0.0,NaN,NaN,NaN
13,01113,Russell County,county,Alabama,02/16/20,47,4.584414,NaN,0.0,0.0,NaN,NaN,NaN
14,01111,Randolph County,county,Alabama,02/16/20,47,4.999070,NaN,0.0,0.0,NaN,NaN,NaN

In [45]:
## update date format
df3['date'] = pd.to_datetime(df3['date'], format='%m/%d/%y')

##strip out 'county'
df3['region_name'] = df3['region_name'].map(lambda x: x.rstrip('County'))

df3.head(15)

## sort by date
df3 = df3.sort_values(by=['date'],ascending=False)
df3.tail(15)

TypeError: 'module' object is not subscriptable

In [41]:
## select the columns to extract
kinsa_final = df3[['region_name', 'state', 'observed_ili','date','forecast_expected']]

kinsa_final.tail(15)

    region_name       state  observed_ili       date  forecast_expected
35    Garfield     Colorado      5.045691 2020-02-16                NaN
52    Hinsdale     Colorado      4.888474 2020-02-16                NaN
53    Gunnison     Colorado      4.911652 2020-02-16                NaN
22  Rio Arriba   New Mexico      4.662073 2020-02-16                NaN
62  Kit Carson     Colorado      4.888086 2020-02-16                NaN
29     Socorro   New Mexico      5.182602 2020-02-16                NaN
28      Sierra   New Mexico      4.749595 2020-02-16                NaN
27    Santa Fe   New Mexico      4.837456 2020-02-16                NaN
26  San Miguel   New Mexico      5.142702 2020-02-16                NaN
25    San Juan   New Mexico      5.095841 2020-02-16                NaN
24    Sandoval   New Mexico      5.238033 2020-02-16                NaN
23   Roosevelt   New Mexico      5.547965 2020-02-16                NaN
63       Kiowa     Colorado      4.623863 2020-02-16                NaN
55      Gilpin     Colorado      4.558426 2020-02-16                NaN
0      Autauga      Alabama      5.288498 2020-02-16                NaN

In [42]:
print('Total rows:' + str(len(df3.index)))

Total rows:307791

In [44]:
## export to csv
kinsa_final.to_csv('kinsa_export.csv')